html{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
    background-color: aliceblue;
}

.app-container{
    display: flex;
}
.app-side-bar{
    width: 20%;
    background-color: #fff;
    height: 100vh;
    border-right: 2px solid #d3d3d3;
}

.side-bar-header{
    font-weight: 900;
    padding: 10px 30px;
    border-bottom: #d3d3d3 1px solid;
    text-align: center;
}

.side-bar-nav ul{
    list-style: none;
    margin-top: 20px;
}

.side-bar-nav ul li{
    text-decoration: none;
    margin-bottom: 10px;
    border-bottom: 1px solid #d2d2d2;
}


.app-content{
    background-color: beige;
    width: 80%;
    height: 100vh;
    padding-left: 30px;
    margin-left: 30px;
}

.content-block{
    padding-left: 30px;
}

.content-block-header h2{
    text-align: center;

}

.content-controllers{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}
.content-controllers a{
    justify-content: flex-end;
    text-decoration: none;
    background-color: #5CB8E4;
    padding: 5px 10px ;
    border-radius: 3px;
    color: black;
    float: right;
}

.content-controllers a:hover{

    background-color: #082e3f;
    color: white;
}

.data-table{
    border: #93bfd3 1px solid;
}
.data-table tbody tr{
    border-bottom: 1px solid #93bfd3;
}

.data-table tbody tr td{
    padding: 5px;
}

.table-header{
    background-color: #93bfd3;
}

.form-input-group{
    width: 500px;
    display: flex;
    margin-bottom: 15px;
}

.form-input-group label{
    width: 100px;
}


.view-input-group label{
    width: 100px;
}

.content-view{
    margin-top: 30px;
}

.view-input-group{
    width: 500px;
    display: flex;
    margin-bottom: 15px;
}

.main-button{
    justify-content: flex-end;
    text-decoration: none;
    background-color: #5CB8E4;
    padding: 5px 10px ;
    border-radius: 3px;
    color: black;
    float: right;
}


.main-button:hover{

    background-color: #082e3f;
    color: white;
}
